@import "tailwindcss";

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 2.8s ease-in-out infinite;
}

@keyframes progress {
  0% { width: 15%; }
  100% { width: 75%; }
}

.animate-progress {
  animation: progress 6s ease-in-out infinite alternate;
}

